@import './mixin';

.nav {
  @include clearfix;

  &--vanish {
    position: absolute;

    @include atMinMedium {
      position: relative;
    }
  }

  &--pull-right {
    @include atMinMedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    transition: all 0.2s ease;

    margin-right: 30px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    text-shadow: 0.3px 0.3px 1px rgba(0, 0, 0, 0.1);
    &:hover {
      transition: all 0.25s;
      cursor: pointer;
      color: #0077b2;
    }
  }
}
