@import './mixin';

.site-banner {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;

  &__tech {
    display: block;
    text-align: center;
    opacity: 0.35;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 100px;

    img {
      display: inline-block;
      width: 36px;
      height: auto;
      margin-right: 8%;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__frame {
    display: block;
    max-width: 165px;
    height: auto;
    float: none;
    margin: auto;
    margin-top: 10px;

    @include atMinMedium {
      display: inline-block;
      max-width: 185px;
      height: auto;
      float: right;
    }

    img {
      border: 2px solid grey;
      display: inline-block;
      width: 100%;
      border-radius: 500px;
    }
  }

  &__info {
    display: inline-block;
    max-width: 680px;
    margin: 0 auto;
  }

  &__bg-image {
    display: block;
    opacity: 0.45;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  &__post {
    margin-top: 10px;
    margin-bottom: 8px;
  }
  &__post-block {
    padding: 10px 8px;
    margin-bottom: 8px;
    a {
      text-decoration: none;
      color: none;
    }
  }
}
